<p>{{titre}}</p>
<span>
  <input type="text" [value]="listeArticle.length" [(ngModel)]="nb" >

  <button style="margin-left: 200px;" class="btn btn-secondary" [routerLink]="['/addArticle']">Ajouter un article</button>

</span>

<div class="row" style="width: 50%;">
    <div  *ngFor="let a of listeArticle">

      <!-- <div class="card" *ngIf="a.categorie=='Travail'"> -->
               <div class="card"> 

        <div class="card-body" [ngStyle]="{'background-color':a.categorie ==='Education' ? 'blue' : 'white' }" >
            <p class="card-text">{{a.date}}</p>

          <h5 class="card-title">{{a.titre}}</h5>
          <p class="card-text">{{a.contenu}}</p>

          <a href="#" class="btn btn-primary">More</a>
        </div>
    </div>
    </div>

  </div>
