<div style=" margin: auto;
width: 50%;padding: 10px;">
<h2 style="color: darkseagreen;margin-left: 250px;">{{titre}}</h2>
<span>

  <input type="text"  [(ngModel)]="nb" >

  <button style="margin-left: 400px;" class="btn btn-primary" [routerLink]="['/addArticle']">Ajouter un article</button>

  <button (click)="on()">lll</button>
</span>

<div class="row">
    <div  *ngFor="let a of listeArticle">

      <!-- <div class="card" *ngIf="a.categorie=='Travail'"> -->
             <app-item [item]="a" (send)="deleteArticles($event)"></app-item>

    </div>

  </div>
</div>
