<div style=" margin: auto;
width: 50%;padding: 10px;">
<h2 style="color: darkseagreen;margin-left: 250px;">{{titre}}</h2>
<span>

  <input type="text"  [(ngModel)]="nb" >

  <button style="margin-left: 400px;" class="btn btn-primary" [routerLink]="['/addArticle']">Ajouter un article</button>

  <button (click)="on()">lll</button>
</span>

<div class="row">
    <div  *ngFor="let a of listeArticle">

      <!-- <div class="card" *ngIf="a.categorie=='Travail'"> -->
               <div class="card"> 

        <div class="card-body" [ngStyle]="{'background-color':a.categorie ==='Education' ? 'azure' : 'white' }" >
            <p class="card-text">{{a.date}}</p>

          <h5 class="card-title">{{a.titre}}</h5>
          <p class="card-text">{{a.contenu}}</p>

          <a href="#" class="btn btn-primary">More</a>
          <a  [routerLink]="['/updateArticle',a.id]" class="btn btn-danger">Modify</a>

          <a (click)="deleteArticles(a.id)" class="btn btn-danger">Delete</a>

        </div>
    </div>
    </div>

  </div>
</div>
